/* page.css */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/assets/drive-background.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
}

.calendar{
  background-color: rgba(228, 228, 228, 0.706);
  border-radius: 8px;
}


.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh; /* Use min-height to ensure the page takes at least the viewport height */
  overflow-y: auto;
}

.lesson {
  text-align: center;
  margin-top: 60px; /* Adjust margin for responsiveness */
  margin-bottom: 0px; /* Add margin-bottom for spacing */
  /* margin-right: 950px; */
  color: rgb(25, 25, 107);
  font-size: 1.5vw; /* Use vw (viewport width) units for responsive font size */
}

.content {
  display: flex;
  flex-wrap: wrap; /* Ensure content wraps on smaller screens */
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.left-column, .center-column, .right-column {
  flex: 1;
  padding: 30px;
  padding-top: 40px;
  position: relative;
}


.right-column::after {
  content: '';
  position: absolute;
  top: 30px; /* This is where the border starts */
  bottom: 0;
  left: 0;
  border-left: 1px solid #ccc;
}

.center-column {
  flex: 1;
}

.date-selector p,
.time-selector p,
.booking-summary .title p {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.times {
  display: flex;
  flex-wrap: wrap;
}

.time-button {
  width: 80px;
  height: 40px;
  margin: 5px;
  border: 1px solid #ccc;
  color: white;
  background-color: rgb(60, 79, 110);
  cursor: pointer;
  border-radius: 8px;
}

.time-button:hover{
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.154);
}

.time-button:active{
  transform: scale(0.98); 
}

.time-button.disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.booking-summary {
  position: relative;
}

.booking-summary .container{
  background-color: #ffffffbc;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 10px;
}

.booking-summary .booking-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.booking-summary p {
  font-size: 15px;
  margin: 5px 0;
}

.booking-summary button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 5px;
  font-size: 11.5px;
}

.booking-summary button:hover {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.154);
}

.booking-summary button:active {
  transform: scale(0.98);
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}

.next-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 5px 5px;
  font-size: 11.5px;
}

.next-button:hover {
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.154);
}

.next-button:active {
  transform: scale(0.98);
}

.next-button.disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .lesson {
    font-size: 4vw; 
  }

  .left-column, .center-column, .right-column {
    flex-basis: 100%; 
  }

  .right-column::after {
    display: none; 
  }

  .right-column{
    border-top: 1px solid #ccc;
  }
}
