body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(rgb(60, 156, 246), rgb(117, 186, 255), rgb(176, 221, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-form {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 2px 5px 2px rgba(101, 123, 123, 0.37);
    text-align: center;
    position: relative;
  }
  
  .applogo {
    max-height: 250px; /* Adjust logo size */
    min-height: 250px;
    width: 70%;
    height: 150%;
  }
  
  h1 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
  }
  
  .notification {
    background: #f9f9f9;
    padding: 10px;
    border-left: 4px solid #ffd943;
    margin: 20px 0;
  }
  
  .notification p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }
  
  .input-box {
    margin: 15px 0;
    position: relative;
  }
  
  .input-box input {
    width: calc(100% - 30px); /* Adjusted to fit within the form */
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box; /* Ensure padding is included in width */
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 5px 0 20px;
    font-size: 14px;
    color: #333;
  }
  
  .checkbox-container input {
    margin-right: 5px;
  }
  
  .submit {
    width: 100%;
    padding: 15px;
    background: #0068d0c4;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit:hover {
    background: #0080ff;
  }
  
  @media (max-width: 768px) {
    .login-form {
      width: 90%;
      max-width: none;
      max-height: none;
      height: auto;
      top: auto;
      left: auto;
      transform: none;
      position: relative;
      margin: 20px;
    }
  
    .container {
      height: auto;
    }
  
    .applogo {
      max-height: 80px; /* Adjust logo size for smaller screens */
    }
  
    .notification {
      margin: 10px 0; /* Adjust margin for smaller screens */
    }
  }
  