.home-card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .home-card h2 {
    font-size: 24px;
    margin-top: 0px;
  }

  .home-card h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .home-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .home-card-details {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .home-card-details span {
    display: block;
  }
  
  .home-dashboard {
    background-color: rgba(255, 255, 255, 0.654);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 60px;
    text-align: left;
    min-width: 320px;
    max-width: calc(100% - 450px);
    margin: auto;
    margin-top: 154px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  
  .home-dashboard-container {
  text-align: left;
  flex: 1;
  margin-bottom: 20px;
  }
  
  .home-dashboard-container h2{
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  
  .home-dashboard-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  }
  
  .home-dashboard-details {
  font-size: 18px;
  margin: 20px 0px;
  }

  .home-dashboard-details span {
  display: block;
  }
  
  .home-book-button {
  background-color: rgb(60, 79, 110);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .home-book-button:hover {
  background-color: #333;
  }

  @media (max-width: 1024px) {
    .home-dashboard {
      flex-direction: column;
    }

    .home-dashboard-details {
      text-align: center;
    }

    .home-dashboard h2{
      text-align: center;
    }

    .home-dashboard p{
      text-align: center;
    }

    .buttons-container {
      text-align: center;
    }

    .title {
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    .home-dashboard {
      padding: 10px;
    }
  }