body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 70px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 150px; /* Adjust the height as needed */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.authLinks a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 30px;
    background-color: #aacfffc4;
}

.heroImage img {
    max-width: 60%;
    height: auto;
}

.heroText {
    margin-left: 70px; /* Adjust this value to move the text more to the left */
    text-align: left;
}

.heroText h1 {
    font-size: 41px;
    font-weight: normal;
}

.heroText .boldText {
    font-weight: bold;
}

.features {
    padding: 50px;
    background-color: #ffffff;
}

.features h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.featureList {
    display: flex;
    justify-content: space-around;
}

.feature {
    max-width: 300px;
    text-align: center;
}

.feature img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.feature p {
    color: #3c6c95;
}
