body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 70px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 200px; /* Adjust the height for a bigger logo */
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: 0px;
}

.authLinks .login-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.authLinks a {
    margin-left: 30px;
    padding: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: flex-start; /* Move content to the left */
    align-items: center;
    padding: 30px 100px;
    background-color: #c0daf9aa;
}


.heroImage img {
    max-width: 60%; /* Ensure the image doesn't exceed its container */
    height: auto;
    flex-grow: 1; /* Allow the image to grow within its container */
    min-width: 500px; /* Set a minimum width to prevent shrinking */
    display: block;
    margin-left: 10px; /* Add this to push the image to the right */
}

.heroText {
    margin-left: 20px; /* Adjust this value to move the text more to the left */
    text-align: left;
}

.heroText h1 {
    font-size: 45px;
    font-weight: normal;
    margin-right: 11px;
}


.heroText .boldText {
    font-weight: bold;
}

.features {
    padding: 50px;
    background-color: #ffffff;
    text-align: center; /* Ensure this is centered */
}

.features h2 {
    font-size: 39px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: rgb(6, 92, 184);
}

.featureList {
    display: flex;
    justify-content: center; /* Center the features */
    gap: 100px; /* Adjust the gap between features */
    max-width: 1000px; /* Set a max-width to prevent stretching */
    margin: 0 auto;
}

.feature {
    max-width: 300px;
    text-align: center;
}

.feature1, .feature2, .feature3 {
    max-width: 300px;
    text-align: center;
}

.feature3 h3 {
    font-size: 20px;
    white-space: nowrap; /* Ensure "Private Instructors Information" stays on one line */
}

.feature p {
    color: #3c6c95;
}


.calendar-icon {
    font-size: 35px; 
    color: #210409
}

.paper-icon{
    font-size: 35px;
    color: #210409
}

.people-icon{
    font-size: 35px;
    color: #210409
}