
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements a {
    position: relative;
}

.nav-elements a::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    left: 0;
    height: 2px;
    background-color: #000;
    transition: .2s;
}

.nav-elements a:hover::before {
    width: 100%;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 50px;
}

.nav-elements ul a {
  font-size: 20px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}


.nav-elements ul a:hover {
    font-weight: 700;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 1200px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 84px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.2s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 200px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-left: 27px;
    margin-top: 30px;
  }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #000;
    font-weight: 700;
}