
body {
    background-image: url('/assets/drive-background.jpg');
    background-repeat: no-repeat;
    background-size: 105%;
}

.dashboard {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-left: 80px;
    text-align: left;
    max-width: 1200px;
    margin: auto;
    margin-top: 154px;
  }
  
  .dashboard h2 {
    font-size: 44px;
    margin-bottom: 10px;
  }
  
  .dashboard p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .dashboard-details {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .dashboard-details span {
    display: block;
  }
  
  .book-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-button:hover {
    background-color: #333;
  }
  