
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  height: 250px; /* Adjust the height as needed */
}

.card-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-picture-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.profile-picture {
  width: 100%;
  height: auto;
}

.details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-card-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 16px; /* More rounded corners */
  background-color: #f0f0f0; /* Grey background */
  height: 50%;
  width: 70%;
  justify-content: center; /* Center content vertically */
  align-items: left; /* Center content horizontally */
  text-align: left; /* Center text */
}

.inner-card span {
  margin-bottom: 8px; /* Add space between the words */
}

.book-button {
  padding: 3px 10px; /* Adjust padding to make the button smaller */
  font-size: 12px; /* Smaller font size */
  background-color: #1067c3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-button:hover {
  background-color: #0056b3;
}


.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tab-button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.tab-button:not(.active):hover {
  background-color: #ddd;
}


