.instructList-card h2 {
  font-size: 24px;
  margin-top: 0px;
}

.instructList-card h3 {
  font-size: 20px;
  margin-top: 10px;
}

.instructList-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.instructList-card-details {
  font-size: 18px;
  margin-bottom: 20px;
}

.instructList-card-details span {
  display: block;
}

.instructList-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 10px;
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instructList-card-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.instructList-profile-picture-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 20px; /* Move slightly to the right */
  margin-top: -20px; /* Move slightly upwards */
}

.instructList-profile-picture-container {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.instructList-profile-picture {
  width: 100%;
  height: auto;
}

.instructList-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.instructList-inner-card-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 0px;
}

.instructList-inner-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 16px; /* More rounded corners */
  background-color: #f0f0f0; /* Grey background */
  height: 100%;
  width: 100%;
  gap: 8px;
  padding: 10px 0px;
  justify-content: center; /* Center content vertically */
  align-items: left; /* Center content horizontally */
  text-align: left; /* Center text */
}

.instructList-inner-card span {
  padding: 0px 16px;
}

.instructList-tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.instructList-tab-button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.instructList-tab-button.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.instructList-tab-button:not(.active):hover {
  background-color: #ddd;
}

.instructList-popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instructList-popup-overlay.show {
  display: flex;
}

.instructList-popup-box {
  background-color: white;
  padding: 20px 40px;
  border-radius: 8px;
  text-align: left;
  min-width: 320px;
  max-width: calc(100% - 450px);
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.instructList-buttons-container {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.instructList-container {
  position: relative;
  display: flex;
  min-width: 320px;
  gap: 20px;
  margin: auto;
  justify-content: flex-start;
  align-items: top;
  flex-wrap: wrap;
  flex-direction: column;
}

.instructList-container-row {
  height: auto;
  min-width: 280px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.instructList-container-row div {
  flex: 1;
}

.instructList-dashboard {
  background-color: rgba(255, 255, 255, 0.654);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px 60px;
  text-align: left;
  min-width: 320px;
  max-width: calc(100% - 450px);
  margin: auto;
  margin-top: 154px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 40px;
  flex-wrap: wrap;
}

.instructList-dashboard-container {
  text-align: left;
  flex: 1;
  margin-bottom: 20px;
}

.instructList-dashboard-container h2 {
  font-size: 38px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.instructList-dashboard-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.instructList-dashboard-details {
  font-size: 18px;
  margin: 20px 0px;
}

.instructList-dashboard-details span {
  display: block;
}


.instructList-book-button {
  background-color: rgb(60, 79, 110);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  width: 100%;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.instructList-book-button:hover {
  background-color: #333;
}

@media (max-width: 1024px) {
  .instructList-card {
    flex-direction: column;
    height: auto;
  }

  .instructList-inner-card {
    height: auto;
  }

  .instructList-card-container {
    flex-direction: row;
  }

  .instructList-details-container {
    margin-top: 16px;
    align-items: center;
  }

  .instructList-dashboard {
    padding: 20px 40px;
  }

  .instructList-dashboard-container h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .instructList-dashboard {
    flex-direction: column;
    padding: 20px;
    margin-top: 100px;
  }

  .instructList-card {
    margin: 10px;
    flex-direction: column;
  }

  .instructList-details-container {
    margin-bottom: 16px;
  }

  .instructList-book-button {
    align-self: center;
    margin-top: 10px;
  }

  .instructList-dashboard-container h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .instructList-card {
    margin: 10px 0;
    flex-direction: column;
  }

  .instructList-details-container {
    margin-bottom: 16px;
  }

  .instructList-book-button {
    align-self: center;
    margin-top: 10px;
  }

  .instructList-inner-card {
    border-radius: 8px;
  }

  .instructList-dashboard {
    padding: 10px;
  }

  .instructList-dashboard-container h2 {
    font-size: 20px;
  }
}
