.card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .card h2 {
    font-size: 24px;
    margin-top: 0px;
  }

  .card h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .card-details {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .card-details span {
    display: block;
  }
  
  .book-button {
    background-color: rgb(60, 79, 110);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .book-button:hover {
    background-color: #333;
  }


  @media (max-width: 768px) {
    .dashboard {
      flex-direction: column;
    }

    .dashboard-details {
      text-align: center;
    }

    .dashboard h2 {
      text-align: center;
    }

    .dashboard p {
      text-align: center;
    }

    .book-button {
      width: 100%;
    }

    .title {
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    .dashboard {
      padding: 10px;
    }
  }