body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/assets/drive-background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure the body is at least the height of the viewport */
}
