body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
}

.menu-icon {
  display: none;
}

.nav-elements a {
  position: relative;
}

.nav-elements a::before {
  content: '';
  position: absolute;
  top: 100%;
  width: 0;
  left: 0;
  height: 2px;
  background-color: #000;
  transition: .2s;
}

.nav-elements a:hover::before {
  width: 100%;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul a {
  font-size: 17px; 
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a:hover {
  font-weight: 700;
}

@media (max-width: 768px) {
  .nav-elements ul li{
    margin-right: 10px; 
  }
}

@media (max-width: 1200px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px; 
    background-color: #ffffffbc;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.2s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 200px;
  }

  .nav-elements.active ul {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .nav-elements ul li {
     margin: 20px 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 44px; 
  width: 90%;
  padding: 20px 5%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  height: 84px;
  width: 200px;
  object-fit: cover;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li {
  position: relative;
}

.nav-elements ul li{
  margin-right: 40px;
}

.nav-elements ul li:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #ffffffbc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-top: 10px;
  z-index: 1;
}

.dropdown-content a {
  color: #2f234f;
  padding: 16px 30px;
  text-decoration: none;
  display: block;
}