
.tab-form{
    position: absolute;
    top: 50%;
    left: 73%;   /*adjust this*/
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 450px;
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.612);
}
.tab-form .tab-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
/* .tab-form .tab-header >button{
    flex:1;
    padding: 15px; 
    text-align: center;
    color: #555;
    cursor: pointer;
} */
.tab-form .tab-header .btn{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #c3e1ff;
    flex:1;
    padding: 15px; 
    text-align: center;
    color: black;
    background: white;
    font-size: 17px;
    cursor: pointer;
    height: 70px;
}
.tab-form .input-box{
    margin: 30px 0px;
}
.input-box input {
    width: 100%;
    margin-top: 5px;
    font-size: 15px;
    /* padding: 8px; */
    /* background: transparent; */
    border: 1px solid rgba(0, 0, 0, 0.174);
    outline: none;
    border-radius: 20px;
    color: black;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: rgb(139, 139, 139);
}
.input-box .icon {
    position: absolute;
    right: 20px;
    top: 55%;
    transform: translateY(-50%);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.349);
}
.tab-form .remember-forgot {
    display: flex;
    justify-content: space-between;
    color: rgb(102, 102, 102);
    font-size: 14.5px;
    margin: -20px 0 30px;
}
.remember-forgot label input {
    accent-color: rgb(125, 194, 251);
    margin-right: 4px;
}

.remember-forgot a {
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.tab-form .submit {
    width: 350px;
    height: 45px;
    background: linear-gradient(to right, rgb(93, 95, 255) , rgb(104, 162, 250));
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.tab-form .submit:hover{
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.237);
}

.tab-form .register-link {
    font-size: 13.5px;
    text-align: center;
    margin-top: 10px;
}

.register-link p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.container {
    position: relative; /* Positioning context for absolute positioning */
    height: 100vh; /* Full height of the viewport */
}
  
.applogo {
    position: absolute; /* Position the image */
    top: 48%; /* Move the image vertically to the center of the container */
    left: 12%; /* Position the image at the left side of the container */
    transform: translateY(-50%); /* Adjust the position vertically to center the image */
    max-height: 80vh; /* Example max height */
}
  