
h3 {
  font-size: 26px;
  margin: 10px 0px;
}

.profile-container {
  position: relative;
  display: flex;
  min-width: 320px;
  gap: 40px;
  margin: auto;
  justify-content: flex-start;
  align-items: top;
  flex-wrap: wrap;
}

.profile-container-row {
  height: auto;
  min-width: 280px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 320px;
}

.profile-container-row div {
  flex: 1;
}

  .profile-picture-container {
    max-width: 150px;
    min-width: 150px;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 20px 0px;
  }
  
  .profile-picture {
    max-width: 150px;
    min-width: 150px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
  }
  
  .overlay {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .profile-picture-container:hover .overlay {
    opacity: 1;
  }

  .picture-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .picture-overlay.show {
    display: flex;
  }

  .picture-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    min-width: 250px;
    max-width: calc(100% - 450px);
    width: 25%;
    height: auto;
    margin: auto;
  }

  .edit-icon {
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .buttons-container {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .popup-overlay.show {
    display: flex;
  }

  .popup-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    min-width: 250px;
    max-width: calc(100% - 450px);
    width: 100%;
    height: 50%;
    margin: auto;
  }